.feature {
  margin-top: 100px;
  padding: 50px 0px;
  .feature__block {
    width: 30%;
    div {
      padding: 10px 0 10px 0;
    }
  }
  .feature__text {
    color: #f8f8f8;
    font-weight: 100;
    font-size: 14px;
  }

  .feature__title {
    color: #f8f8f8;
    font-weight: normal;
    font-size: 20px;
  }
}
